<nav class="d-flex flex-column flex-md-row align-items-center fixed-top p-3 px-md-5 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">Vidéothèque</h5>
  <div class="my-2 my-md-0 mr-md-3">
  </div>
  <% if user_signed_in? %>
    <%= link_to  'Accueil', root_path, class: 'mr-4' %>
    <%= link_to  'Logout', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to  'Se connecter', new_user_session_path, class: 'btn btn-outline-primary mr-3' %>
    <%= link_to  'S\'inscrire', new_user_registration_path, class: 'btn btn-outline-primary' %>
  <% end %>
</nav>
<p>Find me in app/views/admin/index.html.erb</p>

<h3 class="my-5">Liste des utilisateurs</h3>

<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nom</th>
    <th scope="col">Email</th>
    <th scope="col">Role</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Larry</td>
    <td>the Bird</td>
    <td>@twitter</td>
  </tr>
  </tbody>
</table>

<div class="my-5">
  <span class="h3">Les films disponibles</span>
  <button class="btn btn-dark float-right">Add film</button>
</div>

<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Titre</th>
    <th scope="col">Date de sortie</th>
    <th scope="col" colspan="3">Action</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>