<h1>Films de <%= current_user.email %></h1>


<table class="table">
    <tr>
        <th>Titre du film</th>
        <th>Date de sortie</th>
        <th>Retirer de sa liste</th>
        <th>Réservé depuis</th>
    </tr>
    
    <% @user.films.each do |film| %>
    <tr>
        <td><%= film.titre %></td>
        <td><%= film.date_sortie %></td>
        <td>AAAA</td>
        <td>AAAA</td>
    </tr>
    <% end %>
</table>